version: '3'

services:

  apache:
    build: ./apache
    ports:
      - "80:80"
      - "443:443"
    container_name: "apache"
    image: "cas_apache"

  cas:
    build: ./cas
    ports:
      - "8443:8443"
      - "8081:8080"
    container_name: "cas"
    image: "cas_cas"

  geoserver:
    build: ./geoserver
    ports:
      - 8080:8080
    container_name: "geoserver"
    image: "cas_geoserver"
