version: '3'

services:

  #apache:
  #  build: ./apache
  #  ports:
  #    - "80:80"
  #    - "443:443"
  #  container_name: "apache"
  #  image: "cas_apache"

  #helper:
  #  build: ./helper
  #  depends_on:
  #      - "cas"
  #  environment:
  #    - SERVERNAME=cas.eea.org
    #volumes:
    #- casconfig:/etc/cas/config/
    #command: ["/bin/bash", "./wait-for-it.sh", "cas:8443", "-t", "0", "--", "./entrypoint.sh"]
  #  container_name: "helper"
  #  image: "cas_helper"

  #cas:
  #  build: ./cas
  #  environment:
  #    - SERVERNAME=cas.eea.org
  #  ports:
  #    - "0.0.0.0:8080:8080"
  #    - "0.0.0.0:8443:8443"
  #  volumes:
  #      - casconfig:/etc/cas/config/
  #  container_name: "cas"
  #  image: "cas_cas"

  cas:
    #build: ./cas-webapp-docker
    environment:
      - SERVERNAME=cas.eea.org
    ports:
      - "0.0.0.0:8080:8080"
      - "0.0.0.0:8443:8443"
  #  volumes:
  #      - casconfig:/etc/cas/config/
    container_name: "cas"
    image: "apereo/cas:v5.2.3"

  geoserver:
    build: ./geoserver
    ports:
      - 8081:8080
    container_name: "geoserver"
    #image: "cas_geoserver"

#volumes:
#    casconfig:
#       driver: local
