version: '3'

services:

  cas:
    build: ./cas
    environment:
      - SERVERNAME=cas.eea.org
      - LDAP_HOSTS="openldap"
    ports:
      - "0.0.0.0:8080:8080"
      - "0.0.0.0:8443:8443"
  #  volumes:
  #      - casconfig:/etc/cas/config/
    container_name: "cas"
    image: "cas_cas"
    depends_on:
      - openldap

  openldap:
    image: osixia/openldap
    container_name: openldap
    environment:
      LDAP_LOG_LEVEL: "256"
      LDAP_ORGANISATION: "EEA"
      LDAP_DOMAIN: "eea.org"
      LDAP_BASE_DN: ""
      LDAP_ADMIN_PASSWORD: "admin"
      LDAP_CONFIG_PASSWORD: "config"
      LDAP_READONLY_USER: "false"
      LDAP_RFC2307BIS_SCHEMA: "false"
      LDAP_BACKEND: "mdb"
      LDAP_TLS: "false"
      LDAP_TLS_CRT_FILENAME: "ldap.crt"
      LDAP_TLS_KEY_FILENAME: "ldap.key"
      LDAP_TLS_CA_CRT_FILENAME: "ca.crt"
      LDAP_TLS_ENFORCE: "false"
      LDAP_TLS_CIPHER_SUITE: "SECURE256:-VERS-SSL3.0"
      LDAP_TLS_PROTOCOL_MIN: "3.1"
      LDAP_TLS_VERIFY_CLIENT: "demand"
      LDAP_REPLICATION: "false"
      KEEP_EXISTING_CONFIG: "false"
      LDAP_REMOVE_CONFIG_AFTER_SETUP: "true"
      LDAP_SSL_HELPER_PREFIX: "ldap"
    tty: true
    stdin_open: true
    volumes:
      - ldap1:/var/lib/ldap
      - ldap2:/etc/ldap/slapd.d
      - ldap3:/container/service/slapd/assets/certs/
    ports:
      - "389:389"
      - "636:636"
    domainname: "eea.org" # important: same as hostname
    hostname: "eea.org"

  phpldapadmin: # user: cn=admin,dc=eea,dc=org password: admin
    image: osixia/phpldapadmin:latest
    container_name: phpldapadmin
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: "openldap"
      PHPLDAPADMIN_HTTPS: "false"
    ports:
      - "8082:80"
    depends_on:
      - openldap

  geoserver:
    build: ./geoserver
    ports:
      - 8081:8080
      - 8444:8443
    container_name: "geoserver"
    depends_on:
      - cas

  #hosts:
  #  network_mode: none
  #  image: rawmind/alpine-sysctl:0.1
  #  privileged: true
  #  command: echo "127.0.0.1 cas.eea.org" >> /etc/hosts

volumes:
    casconfig:
       driver: local
    ldap1:
       driver: local
    ldap2:
       driver: local
    ldap3:
       driver: local
